<!--
  Generated template for the ViewRequestListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
      <ion-navbar>
          <div class="title_title">
            지하철택배(배달원)
          </div>
        </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-item>
          <ion-label>상태를 선택하세요.</ion-label>
          <ion-select (ionChange)="changed()" [(ngModel)]="rmodel">
            <ion-option value="pickup">픽업</ion-option>
            <ion-option value="requested">신청완료</ion-option>
            <ion-option value="assigned">매칭완료</ion-option>
            <ion-option value="finished">배송완료</ion-option>
          </ion-select>
        </ion-item>
      
      <ion-list (ionChange)="orderchanged()" radio-group [(ngModel)]="order">
              
                <ion-item>
                  <ion-label>오래된 순으로</ion-label>
                  <ion-radio value="old"></ion-radio>
                </ion-item>
              
                <ion-item>
                  <ion-label>새 날짜부터</ion-label>
                  <ion-radio value="new"></ion-radio>
                </ion-item>
              
              </ion-list>
      <ion-list>
          <p *ngFor="let item of result_date">{{item}}
              <ion-item  >
                      <ion-card  *ngFor="let item2 of result" >
                        <p *ngIf="item === item2.onlyDate">
                          <ion-card-header style="text-align:center">
                          오더번호 : {{item2.orderNo}}
                          <div class="custom" style="margin-top:5px">
                            <button *ngIf="item2.status=='assigned'" style="float:left" class="chat" ion-button (click)="chat(item2)">Chat</button> 
                            <button *ngIf="item2.status=='assigned'" style="float:right" class="chat" ion-button (click)="confirm(item2)">배송완료</button> 
                          </div>
                          </ion-card-header>
                           <ion-card-content>
                          출발역:  {{item2.startPoint}} ,{{item2.startDetail}} <br>
                          도착역:  {{item2.endPoint}} ,{{item2.endDetail}} <br>
                          신청시간 {{item2.create_date}}<br>
                          <p *ngIf="item2.status=='finished'">
                            rating : {{item2.rating}}<br>
                            평가내용 : {{item2.rating_content}}<br>
                          </p>
                          현재상태 :  {{item2.status}} <br>
                          </ion-card-content>
                        </p>
                      </ion-card  >
                    </ion-item>
          </p>
            
          
          
      </ion-list>
    
  </ion-content>
  