<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="title">
      지하철택배<br>(배달원)
    </div>
      <ion-toggle [(ngModel)]="isToggled" style="float:right"  (ionChange)="startTracking()"></ion-toggle>
   
      <button class="nav"  ion-button (click)="viewRequestedAll()">history</button>
      
     <button class="nav" (click)="map.centerLocation()" ion-button >
      <ion-icon name="navigate" ></ion-icon>
    </button>
      <!-- <button ion-button > </button> -->
      
  </ion-navbar>

</ion-header>

<ion-content class="home">
    <ion-list radio-group (ionChange)="kmChanged()" [(ngModel)]="distanceSetting">
        <div class="radio_header">
            <label>검색 원하는 거리를 선택해주세요</label>
          </div>  
          <div class="radio_content">
              <ion-item class="km" >
                  <ion-label>1km</ion-label>
                  <ion-radio checked value="1000" ></ion-radio>
              </ion-item>
              <ion-item class="km" >
                  <ion-label>3km</ion-label>
                  <ion-radio  value="3000"></ion-radio>
              </ion-item>
              <ion-item class="km" >
                  <ion-label>5km</ion-label>
                  <ion-radio  value="5000"></ion-radio>
              </ion-item>
              <ion-item class="km">
                  <ion-label>10km</ion-label>
                  <ion-radio  value="10000"></ion-radio>
              </ion-item>
          </div>
           
    </ion-list>
    <ion-list style="margin-bottom:0px;" radio-group  [(ngModel)]="viewSetting">
        <ion-item  >
            <ion-card [ngClass]="viewStyle_map ? 'viewStyle' : 'viewStyle-clicked'" (click)="mapView()">
                <ion-card-content >
                   지도로보기
                </ion-card-content>
            </ion-card>
            <ion-card [ngClass]="viewStyle_list ? 'viewStyle' : 'viewStyle-clicked'" (click)="listView()" >
                <ion-card-content >
                   리스트로 보기 {{cNumber}}
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
    
  <div [ngClass]="showheartIconRead ? 'map-wrapper' : 'map-wrapper-no-show'">
    <map (sLat)="sLat($event)" (sLng)="sLng($event)" (eLat)="eLat($event)" (eLng)="eLng($event)" (startLocation)="startLocation($event)" (endLocation)="endLocation($event)" (starting)="starting($event)" (currentNumber)="currentNumber($event)"  (ending)="ending($event)"(changed)="changed($event)"  (currentLoc)="currentLoc($event)"  (drag_second)="drag_second($event)" #map [refreshing]=refreshing  [distanceSetting]="distanceSetting"[changed2]="changed2" [isPickupRequested]="isPickupRequested"  [startLat]="startLat" [startLng]="startLng" [endLat]="endLat" [requested]="requested" [endLng]="endLng"></map>
  </div>
  <div [ngClass]="showheartIconRead ? 'listView-no-show' : 'listView'" >
          <ion-list *ngIf="showOrNot;else notShow">


              <p *ngFor="let item of result_date">{{item}}
                  <ion-item  >
                      <div class="list" *ngFor="let item2 of result">
                              <p *ngIf="item === item2.onlyDate">
                                      <ion-card   >
                                          <ion-card-header >
                                              <div class="custom" style="margin-top:2px">
                                                  오더번호 : {{item2.orderNo}}
                                                  <button *ngIf="item2.status=='requested'" style="float:right" class="chat" ion-button (click)="requesting(item2)">신청하기</button> 
                                                </div>
                                              </ion-card-header>
                                               <ion-card-content>
                                              출발지:  {{item2.startPoint}} &nbsp; &nbsp; <br>
                                              도착지:  {{item2.endPoint}} &nbsp; &nbsp; <br>
                                              신청시간 {{item2.create_date}}<br>
                                              
                                              거리 : {{item2.distance}}<br>
                                              남긴말 : {{item2.request_text}}<br>
                                              배달품목 {{item2.type}}
                                              
                                              </ion-card-content>
                                   
                                  </ion-card  >
                              </p>
                      </div>
                          
                        </ion-item>
              </p>


          </ion-list>
          <ng-template #notShow>
              <ion-list >
                  <ion-item>
                      <ion-card >
                             <ion-card-content>
                                정보가 없습니다.
                            </ion-card-content>
                        </ion-card  >
                  </ion-item>
                </ion-list>
          </ng-template>
         
      
  </div>
  <!-- <div class="bottom request-control">
    <ion-row>
      <ion-col width-50> 
        <button ion-button light>
          <ion-icon name="card">
            Visa
          </ion-icon>
        </button>
      </ion-col>

       <ion-col width-50>
         <button ion-button light>
          <ion-icon name="cash">
            Cash
          </ion-icon>
        </button>
       </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button [hidden]="isPickupRequested" ion-button block color="dark"    (click)="confirmPickUp()">Request PickUp</button>
        <button [hidden]="!isPickupRequested" ion-button block color="dark"  (click)="cancelPickUp()">Cancel PickUp</button>
      </ion-col>
    </ion-row>
    
  </div> -->
</ion-content>

<ion-menu class="ionmenu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="title_menu">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="c">
    <ion-list>
      <ion-list>
          <div class="profile">
              <img class="img" src="{{imageUrl}}"/>
              <p>{{id}}</p>
              <p>{{phone}}</p>
              <p>{{name}}</p>
          </div>
          
            <button menuClose ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">{{p.title}}</button>
        </ion-list>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>